.services {
  min-height: 100vh;
}

.service__head{
  max-width: 515px;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-inline: auto;
  text-align: center;
  }
  
  .service__head--top {
    color: #74C69D;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  
  .service__head--title {
    color: #000000;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    font-family: 'Crimson Text';
  }
  
  .service__head--desc {
  color: #000000;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 10px;
  }